<!doctype html>

<html>
<head>
  <title>CSV converter</title>
</head>
<body>

  <h1>CSV converter</h1>

  <h2>Convert delimiter ; to ,</h2>

  <form action="/convert" method="POST" enctype="multipart/form-data">
    Choose file: <input type="file" name="file" accept=".csv,.tsv"><br>
    Delimiter: <select name="delimiter">
      <option value="auto" selected>Auto (guess)</option>
      <option value="semicolon">; (semicolon)</option>
      <option value="tab">TAB</option>
    </select><br>

    <input type="submit" name="submit" value="Convert to comma-separated file">
  </form>

</body>
</html>

